.dashboardContentContainer {
	min-width: calc(100% - var(--dashboard-sidenav-width));
	margin-left: var(--dashboard-sidenav-width);
	min-height: 100%;
}
@media screen and (max-width: 800px) {
	.dashboardContentContainer {
		min-width: 100vw;
		margin-left: unset;
	}
}