.footerContainer {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerNav {
  background: #191919;
  box-sizing: border-box;
  padding: 0 6em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footerHead {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 8em;
}

.footerHead h3 {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  line-height: 2em;
}

.footerLogo {
  height: 5em;
  width: 5em;
  align-self: center;
}

.footerSection {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0.8em;
}

.footerNavHeads {
  font-size: 1.3em;
  letter-spacing: 0.5em;
  width: max-content;
}

.footerLink {
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  margin-bottom: 1.5em;
}

.footerCopyright {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #bb6a57;
  padding: 1em 0;
}
.footerCopyright span {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 500px) {
  .footerNav {
    padding: 1em;
  }

  .footerHead {
    width: max-content;
    padding: 1em;
  }

  .footerHead h3 {
    font-size: 0.7rem;
    line-height: 1.5em;
  }

  .footerLogo {
    height: 3em;
    width: 3em;
    align-self: center;
  }

  .footerSection {
    padding: 1em 0.8em;
  }

  .footerNavHeads {
    font-size: 0.5em;
    letter-spacing: 0.5em;
  }

  .footerLink {
    font-size: 0.4em;
    margin-bottom: 1em;
  }

  .footerCopyright {
    padding: 0.5em 0;
  }
  .footerCopyright span {
    font-size: 0.5em;
  }
}
