.homeNav {
  display: flex;
}

.homeNavLink {
  margin: 1em;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
  text-align: center;
}

.homeNavLink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .homeNavLink {
    font-size: 0.5em;
  }
}
