.schemeCard {
  display: flex;
  flex-direction: column;
  background: #4c7260;
  color: white;
  border-radius: 10px;
  padding: 2em;
  padding-top: 1.5em;
  margin: 1em 0;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleDiv h2 {
  font-weight: 600;
  font-size: 1.3em;
  margin: 0.5em 0;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
  border-radius: 100%;
  outline: none;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
.deleteBtn:hover svg {
  animation: bellshake .5s cubic-bezier(.36,.07,.19,.97) both;
}

.deleteLogo {
  align-self: center;
  height: 1.5em;
  color: #BB6A57;
}

.schemeCard p {
  font-size: 0.8em;
  width: 95%;
  line-height: 2em;
  margin: 0.5em 0 0.7em 0;
}

.lowerDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 2em 0 0;
}

.textDiv h4 {
  font-weight: 500;
  margin: 0.6em 0;
}

.btnsDiv {
  display: flex;
  align-items: center;
}

.cardBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  border-radius: 30px;
  color: #BB6A57;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 0.8em;
  padding: 0.7em 3em;
  margin: 0.5em 2em;
}

.chatLogo {
  height: 1.5em;
  padding-right: 1em;
  color: #BB6A57;
}

@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(6deg); }
  30% { transform: rotate(-6deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(2deg); }
  85% { transform: rotate(-2deg); }
  92% { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}
