@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --dashboard-sidenav-width: 360px;
  --dashboard-page-header-top: 7.35em;
}

button:focus {
}
input:focus, select:focus {
  box-shadow: none !important;
  outline: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toast-custom-popup {
  min-width: 180px;
  box-shadow: 10px 8px 30px 0 rgba(0, 0, 0, 0.05) !important;
}
.toast-custom-title {
  color: white;
}
.toast-custom-icon.swal2-success {
  border: none;
}

.swal2-timer-progress-bar {
  background: rgba(255,255,255,0.6) !important;
}