@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toast-custom-popup {
  min-width: 180px;
  box-shadow: 10px 8px 30px 0 rgba(0, 0, 0, 0.05) !important;
}
.toast-custom-title {
  color: white;
}
.toast-custom-icon.swal2-success div {
  /*border-color: #49c469 !important;*/
}
.toast-custom-icon.swal2-success span {
  background-color: #58ea7e !important;
  /*background-color: #fff !important;*/
}
.swal2-timer-progress-bar {
  background: rgba(255,255,255,0.6) !important;
}