.topNav {
  box-sizing: border-box;
  background: #fff;
  z-index: 1;
  padding: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  right: 0;
}

