.topNav {
  box-sizing: border-box;
  background: #fff;
  z-index: 1;
  padding: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  right: 0;
}
.logoHead {
  display: none;
}
.rightSide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.itemGap {
  margin: 0 16px;
}

@media screen and (max-width: 800px) {
  .topNav {
    padding: .6em;
    justify-content: space-between;
  }
  .logoHead {
    display: unset;
  }
  .itemGap {
    margin: 0 6px;
  }
}