@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

.homePage {
  display: flex;
  flex-direction: column;
}

.home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../../assets/homebg.png");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  /* height: max-content; */
  width: 100%;
  padding: 1rem 6rem;
  min-height: 100vh;
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.homeBody {
  margin: 3em 2em;
}

.home h1 {
  color: #bb6a57;
  font-size: 3.1em;
  margin: 0.2em 0;
  line-height: 1.5em;
}

.homeBody p {
  padding: 1em 0;
  width: 35%;
  font-weight: 300;
  line-height: 2.5em;
}

.green {
  color: #4c7260;
}

.loginLink {
  padding: 2em 0;
  width: max-content;
}

.portalBtn {
  display: flex;
  align-items: center;
  background: #4c7260;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 8px 8px 16px #4c726029;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.15em;
  padding: 0.1em 1em;
  cursor: pointer;
}

.portalBtn span {
  font-size: 2em;
  padding: 0 0 0 0.3em;
  font-weight: 100;
}

.featuresSection {
  box-sizing: border-box;
  padding: 1rem 8rem;
  background: rgba(187, 229, 219, 0.2);
  height: max-content;
}

.featureHead {
  font-size: 2.5em;
  font-weight: 700;
  color: #191919;
  margin: 2em 0;
}

.featuresDiv {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 3em 0;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  width: 19vw;
  text-align: center;
}

.feature h3 {
  margin: 2em 0;
}

.feature p {
  font-size: 0.78rem;
  line-height: 2.5em;
  text-align: center;
  margin: 0;
}

.featureLogo {
  height: 9em;
}

@media screen and (max-width: 800px) {
  .homePage {
    display: flex;
    flex-direction: column;
  }

  .home {
    background: none;
    /* background: url("../../assets/homebg.png");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat; */
    padding: 1rem 2rem;
    min-height: max-content;
  }

  .homeBody {
    margin: 2em 0;
  }

  .home h1 {
    margin: 0.4em 0;
    font-size: 1.5em;
  }

  .homeBody p {
    width: 60%;
    font-size: 0.7em;
  }

  .portalBtn {
    font-size: 1em;
  }

  .portalBtn span {
    font-size: 1.5em;
  }

  .featuresSection {
    padding: 1rem 3rem;
  }

  .featureHead {
    font-size: 1.7em;
    margin: 1em 0;
  }

  .featuresDiv {
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
  }

  .feature {
    font-size: 1em;
    width: 90%;
    padding-bottom: 2em;
  }

  .feature h3 {
    margin: 0.8em 0;
  }

  .feature p {
    line-height: 2em;
  }
}

@media screen and (max-width:1000px) {
  .home{
    background: none;
  }
}