.button {
  outline: none;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  width: max-content;
  padding: 6px 30px;
  background: #4C7260;
  color: #fff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
