.schemesPage {
  box-sizing: border-box;
  width: 100%;
  padding: 3em;
  color: #191919;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  font-size: 1.8em;
  font-weight: 600;
}

.addSchemeBtn {
  display: flex;
  align-items: center;
  background: #bb6a57;
  border: none;
  box-shadow: 0px 3px 6px #bb6a5729;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  padding: 0;
  color: white;
  height: max-content;
  padding: 0.8em 1.5em;
  font-weight: 600;
}

.addScheme {
  height: 1em;
  padding-right: 0.8em ;
}

.schemes {
  display: flex;
  flex-direction: column;
}
/* 
@media screen and (max-width: 500px) {
  .loginPage {
    padding: 1rem 2rem;
  }

  .loginDiv {
    margin: 2em 0 5em 0;
  }

  .loginForm {
    padding: 2em;
    width: 100%;
  }

  .loginForm h1 {
    font-size: 1.5em;
    letter-spacing: 0.5em;
  }

  .loginForm > label,
  .loginForm > div {
    font-size: 0.7em;
  }

  .loginRadio {
    font-size: 1.2em;
  }

  .loginRadio input {
    height: 1em;
    width: 1em;
  }

  .loginPass button {
    width: 10%;
    height: 2.7em;
  }

  .loginBtn {
    font-size: 0.8em;
  }

  .loginForm a {
    font-size: 0.5em;
    padding-top: 0.5em;
  }
} */
