.faqCard {
  display: flex;
  flex-direction: column;
  margin: 0.6em 0;
  cursor: pointer;
}

.quesDiv {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  background: #F0F0F0;
  border-radius: 5px;
  color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.noAns {
  display: none;
}

.ansDiv {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  background: #F0F0F0;
  border-top: 0.5px solid #191919;
  font-size: 0.8em;
  font-weight: 400;
}
