.logoHead {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 0.9em;
  width: max-content;
}

.logoBody {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

.apLogo {
  height: 5em;
  padding: 1em 0;
}

.logoSubHead {
  font-size: 0.8em;
  font-weight: 200;
}

.whiteText {
  color: white;
}

@media screen and (max-width: 500px) {
  .logoHead {
    font-size: 0.5em;
  }
  
  .logoBody {
    box-sizing: border-box;
    width: max-content;
  }
}