.disbursalPage {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  padding: 0 2em 2em 2em;
  color: #191919;
  position: relative;
}

.header {
  box-sizing: border-box;
  position: sticky;
  padding: 1em 0 0 0;
  top: var(--dashboard-page-header-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.head {
  white-space: nowrap;
  font-size: 1.8em;
  font-weight: 600;
}

.selectLabel {
  font-weight: bold;
  font-size: 12px;
}
.select {
  background: #F6F6F6;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 5px;
  font-size: 13px;
}
.select:focus-within, .select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.txnTableDiv {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
  padding: 1.5em;
  color: white;
  width: 90%;
}

.tableDiv {
  margin: 1em;
  width: 100%;
}

.table {
  display: table;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 2em;
}

.table th {
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #191919;
}

.tbody {
  width: 100%;
}

.table th,
.table td {
  box-sizing: border-box;
  padding: 1.2em;
}
.table tr {
  margin: 25px;
  border-spacing: 2em;
}
.transactionCard {
  background-color: #4c7260;
  padding: 10px;
  width: 100%;
}
.collapseRow {
  background-color: #4c7260;
  border-radius: 10px;
  margin: 20px;
}
.transactionRow {
}
.collapseRow {
}
tbody tr {
  width: 100%;
  /*background-color: #4c7260;*/
}

.recievedBtn,
.issueBtn,
.loadMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: 5px 5px 8px #00000042;
  border-radius: 29px;
  font-size: 15px;
  font-weight: 600;
  padding: 0.5em 2em;
  letter-spacing: 0.1em;
  width: max-content;
  cursor: pointer;
}
.loadMoreBtn {
  color: #4c7260;
  font-weight: 500;
  font-size: 1.2em;
}